*.fa
*.fai
*.fsa
*.gb
*.gbf
*.gbk
*.gff
*.gff.gene
*.gff2
*.html
*.log
*.maker.output
*.md
*.orig
*.pdf
*.png
*.sqn
*.tbl
*.tsv
.Rhistory
.Rproj.user
2014*
NC_*
RM_*
figure
prokka

# BWA
*.amb
*.ann
*.bwt
*.pac
*.sa

# RepeatModeler
*.nhr
*.nin
*.nnd
*.nni
*.nog
*.nsq
*.translation

# tbl2asn
*.discrep
*.val

!LKAM01.2.fa
!LKAM01.2.product.tsv
