*.fa
*.gb
*.gbk
*.gff
*.gff.gene
*.gff2
*.html
*.log
*.maker.output
*.md
*.orig
*.pdf
*.png
*.tsv
.Rhistory
.Rproj.user
2014*
NC_*
RM_*
figure
pg29mt-concat.*

# RepeatModeler
*.nhr
*.nin
*.nnd
*.nni
*.nog
*.nsq
*.translation
