*.fa
*.gb
*.gbk
*.gff
*.gff.gene
*.html
*.log
*.maker.output
*.md
*.orig
*.png
*.pdf
.Rhistory
.Rproj.user
2014*
NC_*
RM_*
figure
pg29mt-concat.*

# RepeatModeler
*.nhr
*.nin
*.nnd
*.nni
*.nog
*.nsq
*.translation
